# dependencies
node_modules/

# environment files
.env
.env.local
src/geant_issue.pem

*.csv
*.png
*.json

# build output
/dist
/build
src/dist

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS stuff
.DS_Store
Thumbs.db
