<table data-table-width="760" data-layout="default" ac:local-id="9e3b6519-6840-4bc7-aa9e-fc58128fcc3b"><tbody><tr><td colspan="2"><h3>L1 ALLEGRA user time performance report</h3></td></tr><tr><td><p>
            User Campaign:
        </p></td><td><p /></td></tr><tr><td><p>
            Date&amp;Time:
        </p></td><td><p /></td></tr><tr><td colspan="2"><h5>REQUESTED SPECIFICATIONS</h5></td></tr><tr><td><p>
            pulse energy:
        </p></td><td><p /></td></tr><tr><td><p>
            pulse duration:
        </p></td><td><p /></td></tr><tr><td><p>
            wavelength:
        </p></td><td><p /></td></tr><tr><td colspan="2"><h5>GRAPH DETAILS</h5></td></tr><tr><td><p>
            Graph Type:
        </p></td><td><p>line graph</p></td></tr><tr><td><p>
            PVs:
        </p></td><td><p><code>L3-SBW4-PM311:Energy</code></p></td></tr><tr><td><p>
            time span:
        </p></td><td><p>1d</p></td></tr><tr><td><p>
            Xaxis:
        </p></td><td><p>Time</p></td></tr><tr><td><p>
            Yaxis:
        </p></td><td><p>Energy</p></td></tr></tbody></table>