<table data-table-width="1800" data-layout="full-width" ac:local-id="f3bec5ae-75f2-4fa7-9d04-c495b3179f94"><tbody><tr><td colspan="2"><h3>L1 ALLEGRA user time performance report</h3></td></tr><tr><td><p>
            User Campaign:
        </p></td><td><p>HHG Khohkolova </p></td></tr><tr><td><p>             Weeks Label:         </p></td><td><p>17-19</p></td></tr><tr><td><p>               Date Range:</p></td><td><p>2025/08/25 - 2025/09/02</p></td></tr><tr><td colspan="2"><h5>REQUESTED SPECIFICATIONS</h5></td></tr><tr><td><p>
            pulse energy:
        </p></td><td><blockquote><p>36 mJ </p></blockquote></td></tr><tr><td><p>
            pulse duration:
        </p></td><td><p>nominal (&lt;20 fs) </p></td></tr><tr><td><p>
            wavelength:
        </p></td><td><p>nominal (750-920 nm)</p></td></tr><tr><td colspan="2"><h5>HOUR COUNT</h5></td></tr><tr><td><p>
            TOTAL ACTIVE DAYS:
        </p></td><td><p>12</p></td></tr><tr><td><p>
            TOTAL ACTIVE HOURS:
        </p></td><td><p>95</p></td></tr><tr><td><p>
            USED ALIGNMENT
            BEAMTIME HOURS:
            Main number from the
            archiver (number in
            brackets form the
            operator log)
        </p></td><td><p>(30)</p></td></tr><tr><td><p>
            USED HIGH POWER
            BEAMTIME HOURS:
            Main number from the
            archiver (number in
            brackets form the
            operator log)
        </p></td><td><p>(44)</p></td></tr><tr><td colspan="2"><h5>GRAPH DETAILS</h5></td></tr><tr><td><p>
            Graph Type:
        </p></td><td><p /></td></tr><tr><td><p>
            PVs:
        </p></td><td><p><code>L1-ALFA-SHU01-61:Out</code>, <code>L1-OPA3-5_2-PM98:VAL_CAL</code>, <code>L1-OPA4-PM21:VAL_CAL</code>, <code>L1-CMP-C91:CentroidX</code>, <code>L1-CMP-C91:CentroidY</code>,<code>L1-CMP-C92:CentroidX</code>,<code>L1-CMP-C92:CentroidY</code></p></td></tr><tr><td><p>
            time span:
        </p></td><td><p /></td></tr><tr><td><p>
            Xaxis:
        </p></td><td><p /></td></tr><tr><td><p>
            Yaxis:
        </p></td><td><p /></td></tr><tr><td colspan="2"><h5>WEEKLY GRAPHS</h5></td></tr><tr><td><p>
            Week Numbers (comma separated):
        </p></td><td><p>1,2,5</p></td></tr></tbody></table><table data-table-width="1800" data-layout="full-width" ac:local-id="4e829f4f-9f91-4593-9249-45015196c950"><tbody><tr><td colspan="2"><p>DAZZLER SETTINGS</p></td><td><p /></td></tr></tbody></table>