<ac:structured-macro ac:name="toc" ac:schema-version="1" ac:macro-id="3a7bc00a-7404-4b3b-bc2f-447b80c26330"><ac:parameter ac:name="maxLevel">3</ac:parameter><ac:parameter ac:name="style">disc</ac:parameter><ac:parameter ac:name="printable">true</ac:parameter></ac:structured-macro>

<table style="width: 100.0%;border-collapse: collapse;" data-layout="default">
    <tbody>
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 8.0px;" colspan="2">
          <h2 style="margin: 0;">L1 ALLEGRA user time performance report Sep</h2>
        </td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 8.0px;" colspan="2">
          <div style="font-size: 12.0px;line-height: 1.4;">
            <div><h3>User campaign:</h3> HHG Khohkolova</div>
            
            <div>2025/09/02 - 2025/09/17</div>
          </div>
        </td>
      </tr>
  
      
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;" colspan="4">
          <h3>REQUESTED SPECIFICATIONS</h3>
        </td>
      </tr>
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;width: 25.0%;">pulse energy:</td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;" colspan="3">36 mJ</td>
      </tr>
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;">pulse duration:</td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;" colspan="3">nominal (&lt;20 fs)</td>
      </tr>
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;">wavelength:</td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;" colspan="3">nominal (750-920 nm)</td>
      </tr>
  
      
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;background: rgb(243,243,243);" colspan="4">
          <h3>HOUR COUNT</h3>
        </td>
      </tr>
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;width: 25.0%;"><h4>TOTAL ACTIVE DAYS:</h4></td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;width: 25.0%;"><h4>TOTAL ACTIVE HOURS:</h4></td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;width: 25.0%;">
          <h4>USED ALIGNMENT BEAMTIME HOURS:</h4>
          <div style="font-size: 12.0px;">Main number from the archiver (number in brackets from the operator log)</div>
        </td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;width: 25.0%;">
          <h4>USED HIGH POWER BEAMTIME HOURS:</h4>
          <div style="font-size: 12.0px;">Main number from the archiver (number in brackets from the operator log)</div>
        </td>
      </tr>
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;">12</td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;">95</td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;">
          (30)
        </td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;">
          (44)
        </td>
      </tr>

      
       <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;background: rgb(243,243,243);" colspan="4">
          <h3>ABOUT THE PVs</h3>
          <ac:structured-macro ac:name="expand" ac:schema-version="1" ac:macro-id="91db3f12-c772-4803-9984-109ee84a08b0"><ac:parameter ac:name="title">PV Details</ac:parameter><ac:rich-text-body>
              <table style="width: 100.0%;border-collapse: collapse;" data-layout="default">
                <tbody>
       
         
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;data-highlight-colour: rgb(235,2,142);"><strong>PV Name</strong></td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-family: monospace;font-size: 11.0px;data-highlight-colour: rgb(245,8,150);" colspan="3"><h4>L1-OPA3-5_2-PM98:VAL_CAL</h4></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Explanation</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">Output Energy from L1 (spectrum dependent)</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Unit</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">mJ</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Source</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">L1</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Type</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">read</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">User Data</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">YES</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">CS Integration</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">YES</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Triggered</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3"></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Physical Location</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3"></td>
          </tr>
         
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;background-color: rgb(235,2,142);"><strong>PV Name</strong></td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-family: monospace;font-size: 11.0px;background-color: rgb(245,8,150);" colspan="3"><h4>L1-CMP-C91:CentroidX</h4></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Explanation</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">L1 Near field centroid X position in pixels</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Unit</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">px</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Source</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">L1</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Type</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">read</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">User Data</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">YES</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">CS Integration</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">YES</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Triggered</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3"></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Physical Location</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3"></td>
          </tr>
         
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;background-color: rgb(235,2,142);"><strong>PV Name</strong></td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-family: monospace;font-size: 11.0px;background-color: rgb(245,8,150);" colspan="3"><h4>L1-CMP-C91:CentroidY</h4></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Explanation</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">L1 Near Field Centroid Y position in pixels</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Unit</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">px</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Source</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">L1</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Type</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">read</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">User Data</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">YES</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">CS Integration</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">YES</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Triggered</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3"></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Physical Location</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3"></td>
          </tr>
         
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;background-color: rgb(235,2,142);"><strong>PV Name</strong></td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-family: monospace;font-size: 11.0px;background-color: rgb(245,8,150);" colspan="3"><h4>L1-CMP-C92:CentroidX</h4></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Explanation</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">L1 Far Field Centroid X position in pixels</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Unit</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">px</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Source</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">L1</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Type</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">read</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">User Data</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">YES</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">CS Integration</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">YES</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Triggered</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3"></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Physical Location</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3"></td>
          </tr>
         
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;background-color: rgb(235,2,142);"><strong>PV Name</strong></td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-family: monospace;font-size: 11.0px;background-color: rgb(245,8,150);" colspan="3"><h4>L1-CMP-C92:CentroidY</h4></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Explanation</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">L1 Far Field Centroid Y in pixels</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Unit</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">px</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Source</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">L1</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Type</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">read</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">User Data</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">YES</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">CS Integration</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">YES</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Triggered</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3"></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Physical Location</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3"></td>
          </tr>
         
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;background-color: rgb(235,2,142);"><strong>PV Name</strong></td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-family: monospace;font-size: 11.0px;background-color: rgb(245,8,150);" colspan="3"><h4>L1-ALFA-SHU01-61:Out</h4></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Explanation</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">Shutter between L1 and ALFA</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Unit</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3"></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Source</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">L1</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Type</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">read</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">User Data</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">YES</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">CS Integration</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">YES</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Triggered</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3"></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Physical Location</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3"></td>
          </tr>
         
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;background-color: rgb(235,2,142);"><strong>PV Name</strong></td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-family: monospace;font-size: 11.0px;background-color: rgb(245,8,150);" colspan="3"><h4>L1-OPA4-PM21:VAL_CAL</h4></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Explanation</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">Output Energy from stage 4 (mJ)</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Unit</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">mJ</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Source</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">L1</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Type</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">read</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">User Data</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">YES</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">CS Integration</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3">YES</td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Triggered</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3"></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 15.0%;">Physical Location</td>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-size: 11.0px;" colspan="3"></td>
          </tr>
         
       
                </tbody>
              </table>
            </ac:rich-text-body></ac:structured-macro>
        </td>
       </tr>
  
      
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;background: rgb(243,243,243);" colspan="4">
          <h3>ENERGY GRAPHS</h3>
          <div style="font-size: 12.0px;">Time Zone: </div>
        </td>
      </tr>
      
        
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;" colspan="4"><h4>DAY 2</h4></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;min-height: 300.0px;" colspan="4">
              
                <ac:image ac:align="center" ac:width="800" ac:height="400" ac:alt="Day 2 energy graph">
                  <ri:attachment ri:filename="day2_power_day_.png" ri:version-at-save="1" />
                </ac:image>
              
            </td>
          </tr>
        
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;" colspan="4"><h4>DAY 11</h4></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;min-height: 300.0px;" colspan="4">
              
                <ac:image ac:align="center" ac:width="800" ac:height="400" ac:alt="Day 11 energy graph">
                  <ri:attachment ri:filename="day11_power_day_.png" ri:version-at-save="1" />
                </ac:image>
              
            </td>
          </tr>
        
      
  
      
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;background: rgb(243,243,243);" colspan="4"><h3>DAZZLER SETTINGS</h3></td>
      </tr>
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;" colspan="4">
          
            
          
        </td>
      </tr>

      
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;background: rgb(243,243,243);" colspan="4">
          <h3>NEAR FIELD PROFILE</h3>
        </td>
      </tr>
      
        
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;" colspan="4"><h4>DAY 2</h4></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;min-height: 400.0px;" colspan="4">
              
                <ac:image ac:align="center" ac:width="800" ac:height="400" ac:alt="Day 2 beam profile graph">
                  <ri:attachment ri:filename="day2_NF_C91.png" ri:version-at-save="1" />
                </ac:image>
                <div style="text-align: center;color: rgb(102,102,102);padding: 50.0px;">Beam Profile Graph Placeholder</div>
              
            </td>
          </tr>
        
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;" colspan="4"><h4>DAY 11</h4></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;min-height: 400.0px;" colspan="4">
              
                <ac:image ac:align="center" ac:width="800" ac:height="400" ac:alt="Day 11 beam profile graph">
                  <ri:attachment ri:filename="day11_NF_C91.png" ri:version-at-save="1" />
                </ac:image>
                <div style="text-align: center;color: rgb(102,102,102);padding: 50.0px;">Beam Profile Graph Placeholder</div>
              
            </td>
          </tr>
        
      

      
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;background: rgb(243,243,243);" colspan="4">
          <h3>FAR FIELD PROFILE</h3>
        </td>
      </tr>
      
        
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;" colspan="4"><h4>DAY 2</h4></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;min-height: 400.0px;" colspan="4">
              
                <ac:image ac:align="center" ac:width="800" ac:height="400" ac:alt="Day 2 beam pointing graph">
                  <ri:attachment ri:filename="day2_FF_C92.png" ri:version-at-save="1" />
                </ac:image>
              
            </td>
          </tr>
        
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;" colspan="4"><h4>DAY 11</h4></td>
          </tr>
          <tr>
            <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;min-height: 400.0px;" colspan="4">
              
                <ac:image ac:align="center" ac:width="800" ac:height="400" ac:alt="Day 11 beam pointing graph">
                  <ri:attachment ri:filename="day11_FF_C92.png" ri:version-at-save="1" />
                </ac:image>
              
            </td>
          </tr>
        
      

      
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;background: rgb(243,243,243);" colspan="4">
          <h3>INCIDENTS</h3>
        </td>
      </tr>
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 20.0%;">Date-time</td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;font-weight: bold;width: 80.0%;">Description</td>
      </tr>
      
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
      </tr>
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
      </tr>
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
      </tr>
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
      </tr>
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
      </tr>
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
      </tr>
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
      </tr>
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
      </tr>
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
      </tr>
      <tr>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
        <td style="border: 1.0px solid rgb(187,187,187);padding: 6.0px;height: 30.0px;"></td>
      </tr>
    </tbody>
  </table>